.advantages {
    padding: 70px 0 90px 0;
    background-color: #f6f6f6;
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: stretch;
        text-align: center;
    }
    &__icon {
    }
    &__subheader {
        margin-top: 30px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 500;
    }
    &__descr {
        margin-top: 20px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 400;
        span {
            color: #ff0000;
            text-decoration: underline;
        } 
    }
}
.advantages__icon + .advantages__icon {
    margin-left: 30px;
}
@media (max-width: 767px) {
    .advantages {
        &__icons {
            flex-direction: column;
            align-items: center;
        }  
    }
    .advantages__icon + .advantages__icon {
        margin-left: 0;
    }    
}